.cont-form {
    width: auto;
    height: auto;
    overflow: hidden;
    margin: 30px;

    h1 {
        font-family: 'Bebas Neue', cursive;
    }

    form {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: stretch;
        gap: 18px 40px;
        flex-basis: 400px;

        .item-form {
            flex:30%;
            min-width: 200px;

            mat-form-field {
                width: auto;
                display: block;
            }
            
            p {
                color:red;
                
                span {
                    display: block;
                    width: auto;
                }
            }
        }
    }

    button {
        display: block;
        float: right;
    }
}

